# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/dist
dist-ssr
dist
client/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/gorm.sqlite3
/config/termandcondition/config.json
/config/aboutus/config.json
/config/contact/config.json
/config/faq/config.json
/config/homepage/section1.json
/ecummercial
/client/.env.production

/config/homepage/feature_categories.json
/config/homepage/feature_products.json

