# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
client/dist
dist-ssr
dist
client/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/gorm.sqlite3
/configuration/termandcondition/config.json
/configuration/aboutus/config.json
/configuration/contact/config.json
/configuration/faq/config.json
/configuration/homepage/section1.json
/ecummercial
